        .bs {
            margin: 15px;
        }
        
        div.bs {
            position: relative;
            padding-left: 59%;
        }
        
        .forget {
            padding-left: 43%;
        }