<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="bs">
        <p *ngIf="useName.touched && !useName.valid || pass.touched && !pass.valid" style="color: red; font-size: x-small;"> * UserName and Password are maindatoery</p>
        <p style="color: red; font-size: x-small;">{{usernamepassword}}</p>
        <form #LF="ngForm" class="form-inline">
            <div class="form-group mr-2">
                <label class="sr-only" for="inputEmail">UserName</label>
                <input type="text" class="form-control" name="userName" #useName="ngModel" placeholder="User Name" [(ngModel)]="loginModel.userName" required>

            </div>
            <div class="form-group mr-2">
                <label class="sr-only" for="inputPassword">Password</label>
                <input type="password" class="form-control" #pass="ngModel" name="password" placeholder="Password" [(ngModel)]="loginModel.password" required>

            </div>

            <button type="submit" class="btn btn-primary" (click)="onLogIn() " [disabled]="!LF.valid">Log in</button>

        </form>

    </div>
    <h1>
        <hr style="width:100%;text-align:left;margin-left:0">
    </h1>

    <app-registration></app-registration>

</body>

</html>